{% extends '::base.html.twig' %}

{% block body %}
    <h1>{% trans with {'__PLACE_HOLDER__': entity.name} from 'title' %}category.edit __PLACE_HOLDER__{% endtrans %}</h1>

    {{ form_start(edit_form) }}
        {% if edit_form.medias is defined %}
            <ul class="collectionWidgetForm"  data-prototype="{{ form_widget(edit_form.medias.vars.prototype)|e }}">
                {% for media in edit_form.medias %}
                    {{ form_row(media) }}
                {% endfor %}
                <button id="newElementLink">image+</button>
            </ul>
        {% endif %}

        {{ form_rest(edit_form) }}
    {{ form_end(edit_form) }}

    <ul>
        <li><a href="{{ pathTrans('admin_category_index') }}">{% trans from 'button&link' %}back{% endtrans %}</a></li>
    </ul>

{% endblock %}