{% extends "::base.html.twig" %}
{% import 'BleuebuzzIntegrationBundle:Macros:array.html.twig' as arrayMacros %}
{% import 'BleuebuzzShopBundle:Macros:tree.html.twig' as treeMacros %}
{% import 'BleuebuzzShopBundle:Macros:actions.html.twig' as actions %}

{% block mainContent %}
    <h1>{% trans from 'title' %}category.list{% endtrans%}</h1>
    
    {%
        set columns = [
            {'id' : {}},
            {'name' : {'label': 'category.name'}},
            {'created' : {'filter': 'date'}},
            {'updated' : {'filter': 'date'}},
            'actions'
        ]
    %}

    <ul>
        <li>
            <a href="{{pathTrans('admin_category_new')}}">
                {% trans from 'button&link' %}category.create{% endtrans %}
            </a>
        </li>
    </ul>

    {% if htmlTree|length > 0 %}
        <table>
            {{ arrayMacros.arrayHeadDecorator(columns) }}
            <tbody>
                {% for node in htmlTree %}
                    {{ treeMacros.treeTableDecorator(node, '__children', columns, actions.categoryTreeActions(node)) }}
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        {% trans %}category.list-empty{% endtrans %}
    {% endif %}

    <ul>
        <li><a href="{{pathTrans('admin_shop_index')}}">{% trans from 'button&link' %}back{% endtrans %}</a></li>
    </ul>

{% endblock mainContent %}