{% extends '::base.html.twig' %}

{% block body -%}
    <h1>{% trans from 'title' %}category.create{% endtrans %}</h1>

    {{ form(form) }}

    <ul>
        <li>
            <a href="{{ pathTrans('admin_category_index') }}">
                Back to the list
            </a>
        </li>
    </ul>
{% endblock %}
