{% extends '::base.html.twig' %}
{% import 'BleuebuzzIntegrationBundle:Macros:array.html.twig' as arrayMacros %}
{% import 'BleuebuzzShopBundle:Macros:actions.html.twig' as actionsMacros %}

{% block mainContent %}
    <h1>{% trans with {'__PLACE_HOLDER__': entity.name} from 'title' %}category.product.list __PLACE_HOLDER__{% endtrans%}</h1>
    
    {%
        set columns = [
            {'name': {}},
            {'description': {}},
            {'created': { 'filter' : 'date'}},
            {'updated': { 'filter' : 'date'}},
        ]
    %}

    <ul>
        <li>
            <a href="{{ pathTrans('admin_category_product_new', {'category': entity.slug}) }}">{% trans from 'button&link' %}product.create{% endtrans %}</a>
        </li>
    </ul>

    <table>
        <thead>
            <tr>
            {% for column in columns %}
                {% for key, config in column %}
                    <th>{{ key }}</th>
                {% endfor %}
            {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for element in entity.products %}
                {{ arrayMacros.arrayRawDecorator(element, columns, actionsMacros.categoryProductListActions(element)) }}
            {% endfor %}
        </tbody>
    </table>
{% endblock mainContent %}