{% extends '::base.html.twig' %}
{% import 'BleuebuzzIntegrationBundle:Macros:array.html.twig' as arrayMacros %}
{% import 'BleuebuzzShopBundle:Macros:actions.html.twig' as actions %}

{% block body -%}
    <h1>{% trans with {'__PLACE_HOLDER__': entity.name} from 'title' %}category __PLACE_HOLDER__{% endtrans %}</h1>

    {%
        set columns = [
            {'id' : {}},
            {'name' : {}},
            {'lft' : {}},
            {'lvl' : {}},
            {'rgt' : {}},
            {'root' : {}},
            {'description' : {}},
            {'slug' : {}},
            {'created' : { 'filter' : 'date'}},
            {'updated' : { 'filter' : 'date'}},
            'actions'
        ]
    %}

    <table>
        <thead>
            <tr>
                {% for column in columns %}
                    {% if column is iterable %}
                        {% for key, config in column %}
                            <th>{{ key|trans({}, 'table') }}</th>
                        {% endfor %}
                    {% else %}
                        <th>{{ column|trans({}, 'table') }}</th>
                    {% endif %}
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {{ arrayMacros.arrayRawDecorator(entity, columns, actions.categoryShowActions(entity)) }}
        </tbody>
    </table>

    <ul>
        <li><a href="{{ pathTrans('admin_category_index') }}">{% trans from 'button&link' %}back{% endtrans %}</a></li>
    </ul>

{% endblock %}
