{% extends "::base.html.twig" %}
{% import 'BleuebuzzIntegrationBundle:Macros:array.html.twig' as arrayMacros %}
{% import 'BleuebuzzShopBundle:Macros:actions.html.twig' as actions %}

{% block mainContent %}
    <h1>{% trans from 'title' %}product.list{% endtrans%}</h1>

    {%
        set columns = [
            {'id' : {}},
            {'price' : {}},
            {'name' : {}},
            {'description' : {}},
            {'category' : {}},
            {'slug' : {}},
            {'created' : { 'filter' : 'date'}},
            {'updated' : { 'filter' : 'date'}},
            'actions'
        ]
    %}

    <ul>
        <li>
            <a href="{{ pathTrans('admin_product_new') }}">{% trans from 'button&link' %}product.create{% endtrans %}</a>
        </li>
    </ul>

    {% if entities|length > 0 %}
        <table>
            <thead>
                <tr>
                    {% for column in columns %}
                        {% if column is iterable %}
                            {% for key, config in column %}
                                <th>{{ key|trans({}, 'table') }}</th>
                            {% endfor %}
                        {% else %}
                            <th>{{ column|trans({}, 'table') }}</th>
                        {% endif %}
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for entity in entities %}
                    {{ arrayMacros.arrayRawDecorator(entity, columns, actions.productListActions(entity)) }}
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        {% trans %}product.list-empty{% endtrans %}
    {% endif %}

    <ul>
        <li><a href="{{ pathTrans('admin_shop_index') }}">{% trans from 'button&link' %}back{% endtrans %}</a></li>
    </ul>

{% endblock mainContent %}