{% extends '::base.html.twig' %}

{% block body -%}
    <h1>{% trans from 'title' %}product.create{% endtrans %}</h1>

    {{ form(form) }}

    <ul>
        {% if category %}
            <li><a href="{{ pathTrans('admin_category_products_show', { 'slug': category.slug }) }}">{% trans from "button&link" %}back{% endtrans %}</a></li>
        {% else %}
            <li><a href="{{ pathTrans('admin_product_index') }}">{% trans from 'button&link' %}back{% endtrans %}</a></li>
        {% endif %}
    </ul>
{% endblock %}
