{% extends '::base.html.twig' %}
{% import 'BleuebuzzIntegrationBundle:Macros:array.html.twig' as arrayMacros %}
{% import 'BleuebuzzShopBundle:Macros:actions.html.twig' as actions %}

{% block body -%}
    <h1>{% trans with {'__PLACE_HOLDER__': entity.name} from 'title' %}product.show __PLACE_HOLDER__{% endtrans%}</h1>

    {%
        set columns = [
            {'id' : {}},
            {'name' : {}},
            {'slug' : {}},
            {'category' : {}},
            {'price' : {}},
            {'description' : {}},
            {'created' : { 'filter' : 'date'}},
            {'updated' : { 'filter' : 'date'}},
            'actions'
        ]
    %}

    <table>
        <thead>
            <tr>
                {% for column in columns %}
                    {% if column is iterable %}
                        {% for key, config in column %}
                            <th>{{ key|trans({}, 'table') }}</th>
                        {% endfor %}
                    {% else %}
                        <th>{{ column|trans({}, 'table') }}</th>
                    {% endif %}
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {{ arrayMacros.arrayRawDecorator(entity, columns, actions.productShowActions(entity)) }}
        </tbody>
    </table>

    <ul>
        {% if category %}
            <li><a href="{{ pathTrans('admin_category_products_show', { 'slug': category.slug }) }}">{% trans from "button&link" %}back{% endtrans %}</a></li>
        {% else %}
            <li><a href="{{ pathTrans('admin_product_index') }}">{% trans from 'button&link' %}back{% endtrans %}</a></li>
        {% endif %}
    </ul>

{% endblock %}
