{% trans_default_domain "actions" %}

{# GENERIC DECORATOR #}
{% macro actionsTableDecorator(actions, element, renderOptions = false) %}
    <td>
        {% for action in actions %}
            {% set route = '' %}
            {% set params = {} %}
            {% for label, routeParams in action %}
                {% for key2, routeParam in routeParams %}
                    {% if key2 == 0 %}
                        {% set route = routeParam %}
                    {% elseif routeParam is iterable %}
                        {% for entityRelation, property in routeParam %}
                            {% set entity = attribute(element, entityRelation) %}
                            {% set params = params|merge({ (entityRelation) : attribute(entity, property) }) %}
                        {% endfor %}
                    {% else %}
                        {% set params = params|merge({ (routeParam): attribute(element, routeParam) }) %}
                    {% endif %}
                {% endfor %}
            <a href="{{ pathTrans(route, params) }}">{{ label|trans }}</a>
            {% endfor %}
        {% endfor %}
        {% if renderOptions %}
            {% for renderOption in renderOptions %}
                {{ render(renderOption) }}
            {% endfor %}
        {% endif %}
    </td>
{% endmacro %}



{##############################################################################}
{############################## CATEGORY ACTIONS ##############################}
{##############################################################################}

{# ACTIONS FOR CATEGORY TREE #}
{% macro categoryTreeActions(node) %}
    {%
        set actions = [
            {'show': ['admin_category_show', 'slug']},
            {'edit': ['admin_category_edit', 'slug']},
            {'show-products': ['admin_category_products_show', 'slug']},
        ]
    %}

    {% if node.lvl > 0 %}
        {%
            set childActions = [
                {'up'   : ['admin_category_up', 'slug']},
                {'down' : ['admin_category_down', 'slug']},
                {'first': ['admin_category_first', 'slug']},
                {'last' : ['admin_category_last', 'slug']}
            ]
            %}
        {% set actions = actions|merge(childActions) %}
    {% endif %}

    {# delete form render #}
    {% set renderOptions = [
        controller('BleuebuzzShopBundle:AdminBaseCategory:renderDeleteForm', {'slug': node['slug']}),
        ]
    %}
    {# recursive delete form render #}
    {% if node['__children']|length > 0 %}
        {% set renderOptions = renderOptions|merge([controller('BleuebuzzShopBundle:AdminBaseCategory:renderDeleteForm', {'slug': node['slug'], 'recursive': true})]) %}
    {% endif %}

    {% import _self as self %}
    {{ self.actionsTableDecorator(actions, node, renderOptions) }}
{% endmacro %}

{# ACTIONS FOR CATEGORY SHOW #}
{% macro categoryShowActions(category) %}
    {%
        set actions = [
            {'edit': ['admin_category_edit', 'slug']}
        ]
    %}

    {# delete form render #}
    {% set renderOptions = [
        controller('BleuebuzzShopBundle:AdminBaseCategory:renderDeleteForm', {'slug': category.slug}),
        ]
    %}
    {# recursive delete form render #}
    {% if category.children|length > 0 %}
        {% set renderOptions = renderOptions|merge([controller('BleuebuzzShopBundle:AdminBaseCategory:renderDeleteForm', {'slug': category.slug, 'recursive': true})]) %}
    {% endif %}

    {{ _self.actionsTableDecorator(actions, category, renderOptions) }}
{% endmacro %}



{##############################################################################}
{############################## PRODUCT ACTIONS ###############################}
{##############################################################################}

{# ACTIONS FOR PRODUCT LIST #}
{% macro productListActions(product) %}
    {%
        set actions = [
            {'show': ['admin_product_show', 'slug']},
            {'edit': ['admin_product_edit', 'slug']},
        ]
    %}

    {# delete form render #}
    {% set renderOptions = [controller('BleuebuzzShopBundle:AdminBaseProduct:renderDeleteForm', {'product': product})] %}

    {{ _self.actionsTableDecorator(actions, product, renderOptions) }}
{% endmacro %}

{# ACTIONS FOR PRODUCT SHOW #}
{% macro productShowActions(product) %}
    {%
        set actions = [
            {'edit': ['admin_product_edit', 'slug']}
        ]
    %}

    {# delete form render #}
    {% set renderOptions = [controller('BleuebuzzShopBundle:AdminBaseProduct:renderDeleteForm', {'product': product})] %}

    {{ _self.actionsTableDecorator(actions, product, renderOptions) }}
{% endmacro %}

{# ACTIONS FOR PRODUCT LIST IN CATEGORY WORKFLOW #}
{% macro categoryProductListActions(product) %}
    {%
        set actions = [
            {'show': ['admin_category_product_show', 'slug', {'category': 'slug'}]},
            {'edit': ['admin_category_product_edit', 'slug', {'category': 'slug'}]}
        ]
    %}

    {# delete form render #}
    {% set renderOptions = [controller('BleuebuzzShopBundle:AdminBaseProduct:renderDeleteForm', {'product': product, 'category': product.category})] %}

    {{ _self.actionsTableDecorator(actions, product, renderOptions) }}
{% endmacro %}

{# ACTIONS FOR PRODUCT SHOW IN CATEGORY WORKFLOW #}
{% macro categoryProductShowActions(product) %}
    {%
        set actions = [
            {'edit': ['admin_category_product_edit', 'slug', {'category': 'slug'}]}
        ]
    %}

    {{ _self.actionsTableDecorator(actions, product) }}
{% endmacro %}