{% macro treeTableDecorator(node, children, columns, actions = false) %}
    <tr>
        {% for column in columns %}
            {% set firstColumn = false %}
            {% if loop.first %}
                {% set firstColumn = true %}
            {% endif%}
            {% for key, config in column %}
                <td>
                    {% if firstColumn and node.lvl > 0 %}
                        {% for level in 1..node.lvl %}
                            &nbsp;&nbsp;
                        {% endfor %}
                        &rarr;
                    {% endif %}
                    {% if config.filter is defined %}
                        {% if config.filter == 'date' %}
                            {{ node[key]|date('d-m-Y') }}
                        {% endif %}
                    {% else %}
                        {{ node[key] }}
                    {% endif %}
                </td>
            {% endfor %}
        {% endfor %}

        {% if actions %}
            {{ actions }}
        {% endif %}

        {# recursive #}
        {% if node[children]|length > 0 %}
            {% for childNode in node[children] %}
                {% if actions %}
                    {% import 'BleuebuzzShopBundle:Macros:actions.html.twig' as actions %}
                    {{ _self.treeTableDecorator(childNode, children, columns, actions.categoryTreeActions(childNode)) }}
                {% else %}
                    {{ _self.treeTableDecorator(childNode, children, columns) }}
                {% endif %}
            {% endfor %}
        {% endif %}
    </tr>
{% endmacro %}