{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Category edit</h1>

    {{ form(edit_form) }}

    <ul>
        <li>
            <a href="{{ pathTrans('categorie') }}">
                Back to the list
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock %}
