{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Category list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Lft</th>
                <th>Lvl</th>
                <th>Rgt</th>
                <th>Root</th>
                <th>Created</th>
                <th>Updated</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ pathTrans('categorie_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.lft }}</td>
                <td>{{ entity.lvl }}</td>
                <td>{{ entity.rgt }}</td>
                <td>{{ entity.root }}</td>
                <td>{% if entity.created %}{{ entity.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.updated %}{{ entity.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ pathTrans('categorie_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ pathTrans('categorie_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ pathTrans('categorie_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
