{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Category creation</h1>

    {{ form(form) }}

    <ul>
        <li>
            <a href="{{ pathTrans('categorie') }}">
                Back to the list
            </a>
        </li>
    </ul>
{% endblock %}
