{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Category</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Lft</th>
                <td>{{ entity.lft }}</td>
            </tr>
            <tr>
                <th>Lvl</th>
                <td>{{ entity.lvl }}</td>
            </tr>
            <tr>
                <th>Rgt</th>
                <td>{{ entity.rgt }}</td>
            </tr>
            <tr>
                <th>Root</th>
                <td>{{ entity.root }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ entity.created|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{{ entity.updated|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('categorie') }}">
                Back to the list
            </a>
        </li>
        <li>
            <a href="{{ path('categorie_edit', { 'id': entity.id }) }}">
                Edit
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock %}
