{% extends "::base.html.twig" %}

{% block nav %}
    <ul class="navigation-menu">
        <li class="navigation-item"><a href="{{ pathTrans('admin_category_index') }}">{% trans from 'button&link' %}category{% endtrans %}</a></li>
        <li class="navigation-item"><a href="{{ pathTrans('admin_product_index') }}">{% trans from 'button&link' %}product{% endtrans %}</a></li>
    </ul>
{% endblock nav %}

{% block mainContent %}
    <h1>{% trans from 'title' %}admin.shop-index{% endtrans%}</h1>
{% endblock mainContent %}